extends layout 

block content  

    h1 Author Details
    h2= title

    if author.lifespan >0 
        h6 #{title} lived for #{author.lifespan} years

    div(style='margin-left:20px;margin-top:20px')

        h4 Books 
        dl 
            each book in books
                dt
                    a(href=book.url) #{book.title}
                dd #{book.summary}
            else 
                p No books under #{`${author.first_name} ${author.family_name}`} to be found